/* Estilos da headerbar */
.headerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1e1e;
  padding: 20px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

/* Estilos dos links da headerbar */
.headerbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
  transition: all 0.3s ease;
}

.headerbar a:hover {
  color: #7b7b7b;
}

/* Estilos das animações dos links da headerbar */
.headerbar a:focus, .headerbar a:active {
  transform: scale(0.95);
  opacity: 0.7;
}

h2 {
  font-family: Roboto, sans-serif;
  color: #999999;
}

ol, ul {
  color: #999999;
}

li {
  accent-color: #a3a2a2;
}
